<ion-header>
  <ion-toolbar>
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Course: </ion-label>
    <ion-label>{{course.nom}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Coach: </ion-label>
    <ion-label>{{course.coach}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Heure: </ion-label>
    <ion-label>{{course.h_deb}}-{{course.h_fin}}h</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nbr places: </ion-label>
    <ion-label>{{nbrPlace}}</ion-label>
  </ion-item>
  <ion-button (click)="addToFavorite()"  color="primary">FAVORIS</ion-button>

</ion-content>